# Exercise 4.7

## Importing Libraries

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Setting path

path = r'C:\Users\ggome\06-2023 Instacart Basket Analysis'

In [29]:
# Importing 'orders_products_merged.pkl'

orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))
print(path)

C:\Users\ggome\06-2023 Instacart Basket Analysis

In [4]:
# Creating subset

df = orders_products_merged[:1000000]

In [23]:
df.shape

(1000000, 16)

In [17]:
# Defining function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [7]:
#Loc funct
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\ggome\AppData\Local\Temp\ipykernel_1176\3130434736.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [13]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [25]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

In [16]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [21]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

In [22]:
df['prices'].max()

14.8

In [27]:
# Check

orders_products_merged.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_without_ordering,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [33]:
#counting weekly orders & info
orders_products_merged['orders_day_of_week'].value_counts(dropna=False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [34]:
# Creating container 

result = []

In [35]:
#test
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product' 
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [38]:
result = []

for value in orders_products_merged['orders_day_of_week']:
    if value == 0:
        result.append('Busiest day')
    elif value == 4:
        result.append('Least busy')
    else:
        result.append('Regularly busy')

In [45]:
orders_products_merged['busiest_day'] = result

In [50]:
orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

## 2

In [54]:
orders_products_merged['orders_day_of_week'].value_counts(dropna=False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [58]:
result2 = []
for value in orders_products_merged['orders_day_of_week']:
    if value == 0 or value == 1:
        result2.append('Busiest days')
    elif value == 4 or value == 3:
        result2.append('Slowest days')
    else:
        result2.append('Regular days')

In [60]:
# Creating new column 'busiest_days'

orders_products_merged['busiest_days'] = result2

In [70]:
orders_products_merged.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_without_ordering,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days
0,0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regular days
1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days
2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days
3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days
4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days

## 3

In [74]:
orders_products_merged['busiest_days'].value_counts(dropna = False)

Regular days    12916111
Busiest days    11864412
Slowest days     7624336
Name: busiest_days, dtype: int64

## 4

In [78]:
# Creating dataframe with counts of orders per hour

counts = orders_products_merged['order_hour_of_day'].value_counts().rename_axis('hour').reset_index(name='counts')

In [79]:
# Checking

orders_products_merged.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_without_ordering,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days
0,0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regular days
1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days
2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days
3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days
4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days

In [86]:
# Creating dataframe with counts of orders per hour

counts = orders_products_merged['order_hour_of_day'].value_counts().rename_axis('hour').reset_index(name='counts')

In [92]:
counts

    hour   counts
0     10  2761760
1     11  2736140
2     14  2689136
3     15  2662144
4     13  2660954
5     12  2618532
6     16  2535202
7      9  2454203
8     17  2087654
9      8  1718118
10    18  1636502
11    19  1258305
12    20   976156
13     7   891054
14    21   795637
15    22   634225
16    23   402316
17     6   290493
18     0   218769
19     1   115700
20     5    87961
21     2    69375
22     4    53242
23     3    51281

In [94]:
# Creating list showing the percentiles for the value counts of the column 'order_hour_of_day'

orders = list(orders_products_merged['order_hour_of_day'].value_counts().quantile([0.25, 0.5, 0.75]))

In [99]:
orders

[272562.0, 1117230.5, 2556034.5]

###  lists

In [101]:
few = list(counts.loc[counts['counts'] <= orders[0]]['hour'])

In [104]:
average = list(counts[(counts['counts'] > orders[0]) & (counts['counts'] < orders[2])]['hour'])

In [109]:
most = list(counts.loc[counts['counts'] >= orders[2]]['hour'])

### indexes

In [111]:
index_few = orders_products_merged['order_hour_of_day'].isin(few)

In [112]:
index_average = orders_products_merged['order_hour_of_day'].isin(average)

In [115]:
index_most = orders_products_merged['order_hour_of_day'].isin(most)

###  new column with labels

In [117]:
orders_products_merged.loc[index_few,'busiest_period_of_day'] = 'Fewest orders'

In [119]:
orders_products_merged.loc[index_average,'busiest_period_of_day'] = 'Average orders'

In [121]:
orders_products_merged.loc[index_most,'busiest_period_of_day'] = 'Most orders'

In [122]:
# check

In [123]:
orders_products_merged.shape

(32404859, 18)

In [124]:
orders_products_merged.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_without_ordering,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day
0,0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regular days,Average orders
1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average orders
2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders
3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Average orders
4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders

## 5

In [125]:
# Printing frequency

orders_products_merged['busiest_period_of_day'].value_counts()

Most orders       16128666
Average orders    15679865
Fewest orders       596328
Name: busiest_period_of_day, dtype: int64